
@font-face {
    font-family: neon;
    src: url("Fonts/neon_80s/Neon.ttf");
  }


/* Section 4 */
.section-4 {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background: url('imgS/brick\ bg.jpg') no-repeat center center/cover error with image size not covering the entrie weboage. used JS backgrounColor instead*/ 
    /* overflow: hidden; -hides scroll bar */
}

.section-heading{
    font-size: 3.5rem;
    font-family: Neon, sans-serif;
    letter-spacing: 0.5rem;
    color: gray;
    padding: 7rem;
    /* margin-left: 30rem; */
}

/* .section-heading3{
  font-size: 1rem;
  margin-top: auto;
} */
  
  .form-container {
    width: 80%;
    height: 40%;
    background-color: #e5e9ff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0.3rem 0.3rem 0.4rem #ccc, -0.1rem -0.1rem 0.4rem #ccc;
    border-radius: 0.5rem;
    perspective: 100rem;
  }
  
  /* .form-img {
    width: 15rem;
    height: 16rem;
    background-color: rgba(50, 231, 255, 0.8);
    padding: 5rem;
    opacity: 5;
    box-shadow: -3rem 3rem 4rem #aaa;
    border-radius: 0.5rem;
    transform: rotateY(20deg);
    transition: all 0.5s;
  } */
  
  /* .form-img:hover {
    box-shadow: -5rem 5rem 7rem #aaa;
  } */
  
  .contact-form {
    width: 20rem;
    height: 20rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 3rem;
    border-radius: 0.5rem;
    box-shadow: 3rem 3rem 4rem #aaa;
    transition: .5s;
    position: absolute;
    bottom: 4rem;
  }

  
  .contact-form:hover {
    box-shadow: 5rem 5rem 7rem #aaa;
  }
  
  .contact-form input,
  .contact-form textarea {
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    outline: none;
    border:none;
    border-radius: 2rem;
    box-shadow: inset 0.1rem 0.1rem 0.2rem #ddd, inset -0.1rem -0.1rem 0.2rem #ddd;
  }
  
  .contact-form textarea {
    max-height: 20rem;
    min-height: 10rem;
    max-width: 100%;
    min-width: 70%;
    text-align: center;
    font-size: 1.2rem;
  }
  
  .contact-form input[type="submit"] {
    background-color: rgba(50, 231, 255, 0.8);
    color: #fff;
    font-weight: bolder;
    letter-spacing: 0.2rem;
    font-family: Neon, san-serif;
    cursor: pointer;
    transition: background-color 0.5s;
    padding: 1rem;
    font-size: 15px;
  }
  
  .contact-form input[type="submit"]:hover {
    background-color: #32e7ff;
  }


  /* End of Section 4 */
  


  /* Reponsive */

  /* .section-4 {
    height: auto;
  } */

  .form-container {
    background-color: transparent;
    box-shadow: none;
  }

  .contact-form {
    box-shadow: 1rem 1rem 2rem #aaa;
  }

  .contact-form:hover {
    box-shadow: 2rem 2rem 3rem #aaa;
  }


/* End of Responsive */