
@font-face {
  font-family: neon;
  src: url("Fonts/neon_80s/Neon.ttf");
}



/* Navbar */
.navbar {
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(63, 14, 104, 0.9);
  position: fixed;
  /* top: -8rem; */
  padding: 2rem;
  z-index: 10;
  animation: animateNavbar 1s 0.5s forwards;
  transition: height 0.5s;
}


.navbar.change {
  height: 120vh;
}

@keyframes animateNavbar {
  0% {
    top: -8rem;
  }
  100% {
    top: 0;
  }
}

.navbar-logo {
  position: absolute;
  top: 1.5rem;
  left: 4rem;
}

.navbar-logo a {
  font-family: 'Oregano', san-serif;
  font-size: 2.5rem;
  color: #eee;
  letter-spacing: 0;
  text-decoration: none;
}

#logo{
  height: 60px;
  width: 140px;
  position: absolute;
  align-items: center;
  top: 2px;
  left: -3px;
}

.menu {
  width: 3rem;
  height: 4rem;
  position: fixed;
  z-index: 500;
  top: 0;
  right: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
}

.line {
  width: 100%;
  height: 0.2rem;
  background-color: #eee;
  transition: transform 0.3s;
}

.line-1 {
  width: 50%;
}

.line-3 {
  width: 50%;
  margin-left: auto;
}

.change .line-1 {
  transform: translate(100%, 1rem) rotate(-35deg);
  transform-origin: right;
}

.change .line-3 {
  transform: translateY(-1rem) rotate(35deg);
  transform-origin: right;
}

.nav-list {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s;
}

.change .nav-list {
  opacity: 1;
  visibility: visible;
  transition: all 0.7s 0.5s;
  margin: 3%;
  margin-left: -1px;
}

.nav-link {
  font-family: 'Neon', sans-serif;
  font-size: 2rem;
  letter-spacing: 0.3rem;
  color: #fff;
  margin: 2rem 0;
  transition: color 0.4s;
}

.nav-link:hover {
  color: #ffe602;
}
/* End of Navbar */

 body {
    background: #fff;
    /* font-family: Helvetica Neue, Helvetica, Arial, sans-serif; */
    /* font-size: 14px; */
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 170vh;
    background: url(imgs/landscape.jpg) no-repeat;
    background-size: cover;
    background-position: bottom center;
    position: relative;
    overflow-x: hidden;
  }



 .swiper-container
 {
    width: 150vw;
    padding-top: 50px;
    padding-bottom: 200px;
    overflow: hidden;

  }


.img-fluid{
    position: center;
    height: 230px;
    width: 350px;

}

.title{
  font-family: 'neon', sans-serif;
  font-size: 90px;
  letter-spacing: 10px;
  color: #fff;
  padding: 30px;
}

.gameleon{
  position: absolute;
  top: 10vh;
}



.swiper-slide
  {
    background-position: center;
    background-size: cover;
    width: 350px;
    height: 230px;
    background: #000;
    -webkit-box-reflect: below 1px linear-gradient(transparent,transparent,#0006);
  }



/* Section-4 Footer (Food Lecture) */
.section-4{
  position: absolute;
  bottom: 0.2vh;
  width: 100%;
  height: 15vh;
  background-color:rgba(63, 14, 104, 0.9);
  display: flex;
  justify-content: space-around;
  padding: 3rem 0;
  align-items: flex-start;
  opacity: 0.9;
}

.section-4-text {
  text-transform: uppercase;
}

.section-4-heading {
  font-size: 1.5rem;
  font-weight: 900;
  color: #a79a2d;
  position: absolute;
  left: 32.5rem;
  top: 3rem;
}

.section-4-paragraph {
  position: absolute;
  top: 1rem;
  left: 28rem;
  font-size: 1rem;
  color: rgb(126, 125, 125);
}

.signup-form {
  /* position: relative; */
  display: flex;
  align-items: center;
}

.signup-form-input {
  width: 20rem;
  height: 1rem;
  padding: 1rem;
  border: 0.1rem solid #a79a2d;
  border-radius: 2rem;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  color: #a79a2d;
  position: absolute;
  right: 5rem;
}

.signup-form-input::placeholder {
  color: #a79a2d;
}

.signup-form-btn {
  position: absolute;
  width: 2.5rem;
  height: 1rem;
  background-color: #fff;
  color: #a79a2d;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  left: 70rem;
  bottom: 3rem;
  top: 2.1rem;
}

/* End of Section-4 Footer */

/* Section 6 */
.section-6 {
  width: 100%;
  height: 5vh;
  position: absolute;
  left: 2rem;
  top: 2.5rem;
}

.icon-link {
  margin: 0 2.5rem;
  padding: 0;

}

.icon-link img{
  width: 2.5rem;
}

/* End of Section 6 */
/* Responsive Footer */


@media (max-width: 1400px) {
  .section-4 {
    height: 5rem;
  }
}




/* End of Responsive Footer (Food Lecture) */





/* Reponsive html and title */
@media (max-width: 570px) {
    .title{
    font-size: 12vw;
  }
}
@media only screen and (max-width: 595px){
  html {
    zoom: .9;
  }
}
/* End of responsive html and title*/


/* Responsive Nav */

@keyframes animateHeading {
  0% {
    transform: translateZ(8rem);
    opacity: 0;
    letter-spacing: 2rem;
  }

  3% {
    transform: translateZ(0);
    opacity: 1;
    letter-spacing: 1rem;
  }

  25% {
    transform: translateZ(0);
    opacity: 1;
    letter-spacing: 1rem;
  }

  28% {
    transform: translateZ(8rem);
    opacity: 0;
    letter-spacing: 2rem;
  }

  100% {
    transform: translateZ(8rem);
    opacity: 0;
    letter-spacing: 2rem;
  }
}
  /* End of responsive Nav */





/* About section at the bottom of landing page */

/* .container-heading{
  position: absolute;
  bottom: 0.2vh;
}

.about{
  font-family: 'Neon', sans-serif;
  color: #fff;
  font-size: 40px;
  text-align: center;
}

.h2{
  font-size: 1.25rem;
  color: #fff;
  text-align: justify;
  /* position: absolute;
  transform: translate(-20%, -15%);
  align-items: center; */

/* } */ 
/* End of about section at the bottom of landing page */

/* Responsive section of about section in the landing page */

/* @media (max-width: 595px) {
    /* .h2 {
      font-size: 4vw;
      overflow-wrap: break-word;
    }
}

@media (max-width: 595px) {
  .about {
    font-size: 5vw;
  } */

 /* End  of about section in the landing page */